---
import Container from "../elements/Container.tsx";
import PageHeading from "../elements/PageHeading.astro";
import AboutCard from "./AboutCard.astro";
---

<Container client:idle data-aos="fade-up" id="about" className="flex flex-col items-center justify-center gap-y-4">
  <div class="gradient"></div>
  <PageHeading>About</PageHeading>
  <AboutCard />
</Container>
