---
import Container from "../elements/Container.astro";
---

<Container className="flex flex-col justify-center items-center">
  <h1 class="text-3xl text-neutral-50 font-medium">Digital Business</h1>
  <h2 class="text-2xl text-neutral-50">Satria Bahari</h2>
  <p class="text-neutral-50 text-center text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum aut, accusantium vitae quisquam nobis quaerat?</p>
  <p></p>
</Container>