---
import Container from "../elements/Container.astro";
---

<Container className="flex flex-col justify-center text-center items-center">
  <h1 class="text-4xl font-bold tracking-tight dark:text-neutral-50">Taxing Laughter: The Joke Tax Chronicles</h1>
  
  <p class="leading-5 dark:text-neutral-50 [&:not(:first-child)]:mt-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum aut, accusantium vitae quisquam nobis quaerat?</p>
  <p></p>
</Container>