---
import TESTIMONIALS from "@/common/constants/tesimonials";

import TestimonialCard from "./TestimonialCard";
---

<div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
  {
    TESTIMONIALS.map((testimonial) => {
      return <TestimonialCard {...testimonial} />;
    })
  }
</div>
