---
import MenuItemList from "./MenuItemList.astro";
import MobileMenu from "./MobileMenu.astro";


---

<header class="bg-neutral-700 py-2">
  <div class="lg:hidden">
    <MobileMenu/>
  </div>
  <MenuItemList/>
</header>