---
import MenuItemList from "./MenuItemList";
import ThemeToggleButton from "./ThemeToggleButton";


---

<nav class="py-3 px-6 rounded-full bg-white dark:bg-neutral-800 m-auto fixed lg:flex top-6 left-1/2 -translate-x-1/2 z-[999] hidden border-[1.5px] dark:border-neutral-600 border-neutral-300 gap-x-6 items-center">
  <MenuItemList/>
  <ThemeToggleButton client:idle/>
</nav>