---
import { Icon } from "astro-icon/components";

import { MENUS } from "../../common/constants/menu";
import SOSMEDS from "../../common/constants/sosmeds";
import BackgroundGradient from "../../components/elements/BackgroundGradient.astro";
---

<footer
  id="contact"
  class="relative grid min-h-96 grid-cols-1 space-y-8 bg-white px-12 py-8 dark:bg-dark-tertiary lg:grid-cols-2 lg:px-28"
>
  <BackgroundGradient className="  bottom-0 right-0 z-10 blur-[11rem]" />
  <div class="flex flex-col justify-between space-y-4 text-center lg:text-left">
    <div class="flex flex-col justify-between gap-y-4">
      {
        MENUS.map((menu) => (
          <a
            href={menu.href}
            class="text-lg font-medium text-neutral-800 dark:text-neutral-50 dark:hover:text-neutral-50"
          >
            {menu.title}
          </a>
        ))
      }
    </div>
    <span class="text-sm text-neutral-500">© Copyright 2023</span>
  </div>
  <div class="flex flex-col items-center justify-between space-y-6 px-8 text-center lg:items-start lg:text-start">
    <div class="flex flex-col items-center space-y-3 lg:items-start">
      <h2 class="text-3xl font-semibold text-neutral-900 dark:text-neutral-50">Subscribe</h2>
      <p class="text-neutral-700 dark:text-neutral-200 lg:w-3/4">
        Sign up to our newsletter for feature updates and our undying love.
      </p>
      <div
        class="flex w-fit items-center justify-center rounded-xl border-[1.5px] border-neutral-400 bg-neutral-200 px-4 py-1 dark:border-primary dark:bg-secondary"
      >
        <input
          type="text"
          placeholder="youremail@gmail.com"
          class="bg-neutral-200 px-2 outline-none dark:bg-secondary dark:text-neutral-50"
        />
        <button class="rounded-lg border-[1.5px] border-neutral-300 p-1 dark:border-primary dark:text-neutral-50">
          <Icon name="arrow" />
        </button>
      </div>
    </div>
    <div class="flex gap-x-3">
      {
        SOSMEDS.map((sosmed) => (
          <a href={sosmed.href}>
            <div class="rounded-full border-[1.5px] border-neutral-400 bg-neutral-200 p-2 dark:border-primary dark:bg-secondary dark:text-neutral-50">
              <Icon name={sosmed.icon} />
            </div>
          </a>
        ))
      }
    </div>
  </div>
</footer>
